@import "./variables.scss";

body {
  font-family: "Arial", sans-serif;
  font-size: 1.5em;
  background-color: $colorAppBg;
  margin: 0;
  padding-top: 10px;
}

.calculator {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto repeat(5, minmax(1.3em, 70px));
  max-width: 350px;
  width: 100vw;
  grid-gap: 1px;
  max-height: 500px;
  // max-height: 600px;
  height: calc(100vh - 10px);
  // max-height: 1000px;
  // height: 100vh;
  background-color: $colorCalcBg;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);

  /* center horizontally, 25% from the top */
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
}

/* Make 'AC' and '0' buttons 2 columns wide */
#clear,
#zero {
  grid-column-start: span 2;
}

#equals,
#clear,
#multiply,
#divide,
#subtract,
#add,
#backspace {
  background-color: $colorClearBg;
  color: $colorOperatorText;
}

.button {
  color: $colorButtonText;
  background-color: $colorButtonBg;
  padding: 0.2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.3em;

  /* prevent text selection */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

/* center-align Font Awesome svg */
.button > svg {
  margin: 0 auto;
}

.button:hover {
  background-color: #5b6068 !important;
  cursor: default;
}
