@import "./variables.scss";

#display-container {
  grid-column-start: span 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $colorDisplayBg;
  text-align: right;
  color: $colorDisplayText;
  margin-bottom: 5px;
  padding: 5px;
}

#display-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  overflow-wrap: break-word;
}

#history,
#live-calc {
  font-size: 0.8em;
  min-height: 1.2em;
  overflow: hidden;
}

#display {
  font-size: 1.5em;
  min-height: 1.5em;
  overflow: hidden;
}

#history {
  overflow: hidden;
}
