$colorAppBg: #68829e;
// $colorAppBg: #258ea6;
$colorDisplayBg: black;
$colorDisplayText: #00adb5;
$colorCalcBg: black;
$colorButtonBg: #393e46;
$colorEqualsBg: #222831;
$colorClearBg: #222831;
$colorButtonText: white;
$colorOperatorBg: #222831;
$colorOperatorText: #00adb5;
